@model ModelEF.Models.tblDanhMuc
@using ModelEF.Models;
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    IEnumerable<tblDanhMuc> listDM = ViewBag.listDM;
}
@section Menu {
    <ul class="menu">
        <li class="sidebar-item">
            <a href=@Url.Action("Index", "Home") class='sidebar-link'>
                <i class="bi bi-grid-fill"></i>
                <span>Danh sách tài khoản</span>
            </a>
        </li>

        <li class="sidebar-item has-sub active">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>Sản phẩm</span>
            </a>
            <ul class="submenu" style="display: none;">
                <li class="submenu-item">
                    @Html.ActionLink("Tất cả", "Index", "SanPham")
                </li>
                @foreach (var item in listDM)
                {
                    <li class="submenu-item ">
                        @Html.ActionLink(item.tenDM, "Index", "SanPham", new { @searchStr = item.idDM }, new { })
                    </li>
                }
            </ul>
        </li>
    </ul>
}
@section header{
    <div class="card-header">
        <h3>Chi tiết Loại sản phẩm</h3>
    </div>
}
<div class="card-body">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.tenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTa)
        </dd>


        <p>
            @Html.ActionLink("Quay lại", "Index")
        </p>

    </dl>
</div>
